@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "./reset.css";
@import "./variables.css";


body{
  font-family: 'Open Sans', sans-serif;
}
.section-left .image-area {
  width: 100%;
  height: 100px;
  background: var(--bbc-ash);
  display: flex;
  justify-content: center;
  
}
.section-left .image-area .placeholder-logo {
  width: 100px;
  height: auto;
}
.ssrcss-47d2zd-StyledIcon {
  background: chartreuse;
}
div#app {
  text-align: -webkit-center;
}
div.search-box-container {
  max-width: 50%;
}

.language{
  padding: 5px;
}






