@import "./reset.css";
@import "./variables.css";

.section-left .image-area {
  width: 100%;
  height: 100px;
  background: var(--bbc-ash);
  display: flex;
  justify-content: center;
  /*background-size: 100px, 130px, auto; */
}
.section-left .image-area .placeholder-logo {
  width: 100px;
  height: auto;
}
.ssrcss-47d2zd-StyledIcon {
  background: chartreuse;
}
div#app {
  text-align: -webkit-center;
}
div.search-box-container {
  max-width: 50%;
}
