@import url(//fonts.googleapis.com/css?family=Open+Sans);
@import "./reset.css";
@import "./variables.css";

body {
  font-family: "Open Sans", sans-serif;
}
.section-left .image-area {
  width: 100%;
  height: 100px;
  background: var(--bbc-ash);
  display: flex;
  justify-content: center;
}
.section-left .image-area .placeholder-logo {
  width: 100px;
  height: auto;
}
.ssrcss-47d2zd-StyledIcon {
  background: chartreuse;
}
div#app {
  text-align: -webkit-center;
}
div.search-box-container {
  position: relative;
  max-width: 50%;
}

div.suggestion {
  position: absolute;

  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  background: #e2dede;
  border-radius: 5px;
  margin-top: -18px;
}
.list-item {
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  background-color: #e2dede;
  border-bottom: 1px solid #d4d4d4;
  list-style: none;
}
.list-item:hover {
  background-color: #e9e9e9;
}

.list-item.active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.language {
  padding: 5px;
}
