.inner-card-holder{
  width: 100%;
}
.section-mother-bottom{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0px;
}

.gs-o-bullet__icon {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  visibility: visible;
  display: inline-block;
}

.gs-u-mt- {
  margin-top: 4px;
}

.gs-c-timestamp {
  vertical-align: middle;
}
.nw-o-link-split__text{
  color: var(--bbc-text-color);
}

.nw-c-promo-summary, .nw-c-timestamp {
  color: var(--bbc-summary-text-color);
  font-size:15px;
}
.gs-u-box-size, .gs-u-box-size * {
  box-sizing: border-box;
}
.gs-o-bullet {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.gs-u-vh {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
