.landing-container-main {
  max-width: 1000px;
}

.top-container-main {
  display: flex;
  justify-content: space-between;
}

.left-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background: beige;
  /* padding: 20px; */
}

.loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 40%;
}
.loader div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loader div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loader div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loader div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds {
  0% {
    top: 8px;
    height: 64px;
  }
  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
.lazyloaded {
  width: 100%;
  z-index: 2;
}

.right-column {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inner-col.card {
  margin: 5px;
}
.paragraph {
  padding: 5px 5px;
}
/* the media query for the layout */
@media only screen and (max-width: 720px) {
  .top-container-main {
    display: flex;
    flex-direction: column;
  }
}
