.landing-container-main{
  max-width: 1000px;
}

.top-container-main{
  display: flex;
  justify-content: space-between;
}

.left-column{
  width: 100%;
  padding:10px;
}
.lazyloaded{
  width: inherit;
}

.right-column{
  width: 100%;
  padding:10px;
}

.inner-col.card{
  margin: 5px;
}

/* the media query for the layout */
